h1 {
    color:#333333;
}

li {
    background-color:khaki;
}

ul > ul > li {      /* ul 자식 ul 자식 li에 적용 */
    background-color: lightpink;
}
ul > li {       /* ul 바로 아래 자식 li에 적용 */
    background-color:lightcyan;
}

.Korea {
    color:hotpink;
}

.incheon {
    color:forestgreen;
}

.Japan {
    color:firebrick;
}

#leader {
    color:gold;
}

li:first-child {    /* 첫째인데 li인 아이 */
    font-weight: bold;
}

li:last-child {     /* 막내인데 li인 아이 */
    font-style: italic;
    color:green;
}

li:nth-child(3){
    color:red;
}

li:nth-child(2n){       /* 짝수번째인데 li인 아이 (시험문제) */
    background-color:lightblue;
}

h1,h3 {     /* h1과 h3에 모두 적용 */
    /* background-color: bisque; */
}

h1 + h2 {               /* h1과 h3는 자매여야 함. h1 바로 아랫자매 h3여야함. */
    background-color:mistyrose;
}

h1 ~ h2 {       /* h1과 h3 자매여야함. h1 아랫자매 모든 h3에 적용 */
    background-color:white;
}

[type="text"] {            /* type 속성의 값이 text인 아이에 적용 */
    background-color:lavender;
}

/* 홀수번째 자매 중 li인 애들에 적용 */
li:nth-child(2n-1) {
    font-size: 28px;
}

li:nth-child(odd) {     /* 홀수 : odd, 2n-1 */  
    font-size: 8px;  
}

li:nth-child(even) {        /* 짝수 : even, 2n */
    font-weight: 200;
}

/* 꿀팁 */
body > ul:nth-child(30) > li:nth-child(3) {
    font-size: 200px;
}

body > ul:nth-child(34) > li.Japan {
    font-size: 100px;
}